* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 13vh;
  background-color: black;
  

  .polygon-header {
    position: absolute;
    left: 117px;
  }

  .logo-img {
    position: absolute;
    width: 141px;
    height: 77px;
    left: 130px;
    top: 50px;
  }

  .img-responsive {
    position: absolute;
  }

  .logo-img-responsive {
    display: none;
    width: 141px;
    height: 77px;
    
  }

  nav {
    display: flex;
    justify-content: flex-end;
    line-height: 13vh;

    .nav-list {
      display: flex;
      list-style: none;
      justify-content: space-around;
      width: 960px;

      div {
        display: flex;
        justify-content: center;
        height: 13vh;
        width: 130px;
        cursor: pointer;
        transition: 0.1s;

        li {
          font-family: 'Inter';
          font-weight: 600;
          font-size: 25px;
          color: #fff;
        }
      }

      div:hover {
        background-color: #e7d10b3b;
      }
    }
  }

  
}

@media (max-width: 1200px) {
  .nav-list {
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.88);
    top: 13vh;
    height: 892px;
    max-width: 460px;
    right: 0;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: 0.2s;
  }

  .mobile-menu {
    display: block;
    cursor: pointer;
    margin: 30px;
    
    div {
      width: 32px;
      height: 2px;
      background-color: #FFC427;
      margin: 8px;
    }
  }

  .nav-list-active {
    transform: translateX(0);
    transition: 0.2s;
  }
}

.section-header {
  height: 892px;
  width: 100vw;
  background-image: url("../../assets/section-main.svg");
  background-repeat: no-repeat;
  background-position: center;

  .title-header {
    display: flex;
    justify-content: center;

    h1 {
      margin-top: 516px;
      font-family: 'Inter';
      font-weight: 600;
      font-size: 40px;
      text-align: center;
      color: #fff;
    }
  }

  .button-header {
    display: flex;
    justify-content: center;

    button {
      width: 261px;
      height: 70px;
      left: 795px;
      margin-top: 91px;
      background: #f9c847f2;
      border-radius: 50px;
      border-style: none;
      font-family: 'Inter';
      font-weight: 600;
      font-size: 27px;
      color: black;
      cursor: pointer;
      transition: 0.3s;
    }

    button:hover {
      background: black;
      color: #f9c847f2;
    }
  }
}

@keyframes produtos {
  
}

main {
  display: flex;
  justify-content: center;
  height: 330vh;
  background-color: black;

  .product-site {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1900px;
    margin-top: 161px;
  }
}

@media (max-width: 1000px) {
  .polygon-header {
    display: none;
  }

  .logo-img {
    display: none;
  }

  .img-responsive {
    display: flex;
    height: 13vh;
    width: 141px;
    align-items: center;
    margin-left: 50px;

    .logo-img-responsive {
      display: block;
    }
  }
}